<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Universe Modeler - Jadon Koegel (V.1)</title>
		<style>
			body { margin: 0; }
		</style>

		<!-- Virtual Method of using JS Files from: https://stackoverflow.com/questions/46349370/javascript-file-not-found-using-relative-path-during-flask-render-template -->
		<!-- here:-->
		<!-- <script src="{{ url_for('static', filename='js/massiveBody.js')}}"></script>
		<script src="{{ url_for('static', filename='js/three.js')}}"></script>

		<script src="{{ url_for('static', filename='js/OrbitControls.js')}}"></script> -->

		<!-- Import map code to allow for import of OrbitControls -->
		<!-- https://stackoverflow.com/questions/65697410/not-using-node-js-uncaught-typeerror-failed-to-resolve-module-specifier-thre -->
		<script type="importmap">
			{
				"imports": {
					"three": "https://unpkg.com/three@0.138.0/build/three.module.js",
					"OrbitControls": "https://unpkg.com/three@0.138.0/examples/jsm/controls/OrbitControls.js",
					"dat": "https://unpkg.com/dat.gui@0.7.7/build/dat.gui.module.js",
					"CSS2DRenderer": "https://unpkg.com/three@0.138.0/examples/jsm/renderers/CSS2DRenderer.js"
				}
			}
		</script>

		<!-- <script src="{{ url_for('static', filename='js/massiveBody.js')}}"></script> -->
	</head>
	<body>
		<!-- Direct Inclusiuon of Javascript Libraries for Local Hosting Testing  -->
		<!-- <script src="/static/js/massiveBody.js" type="module"></script> -->
		<!-- <script src="/static/js/three.js"></script> -->
		<!-- <script src="/static/js/OrbitControls.js"></script> -->
	
		<!-- Main Program Script Starts Here: -->
		<script type="module">
			import * as THREE from 'three';
			import {OrbitControls} from 'OrbitControls';
			import {massiveBody} from './static/js/massiveBody.js';
			import {GUI} from 'dat';
			import {CSS2DRenderer, CSS2DObject} from 'CSS2DRenderer';
			//import * as THREE from '/node_modules/three/build/three.module.js';

			const scene = new THREE.Scene();
			const camera = new THREE.PerspectiveCamera( 75 /*(Field of View in deg.)*/, window.innerWidth / window.innerHeight /*Just keep these settings don't want image to look squished)*/, 0.1 /*(Near clipping distance)*/, 1000/*(Far clipping distance)*/ );

			const renderer = new THREE.WebGLRenderer();
			renderer.setSize( window.innerWidth, window.innerHeight );
			document.body.appendChild( renderer.domElement );

			// const helper = new THREE.CameraHelper( camera );
			// scene.add( helper );

			const controls = new OrbitControls( camera, renderer.domElement );

			//https://medium.com/nerd-for-tech/getting-started-with-your-first-three-js-project-part-two-the-build-3fd9a2f21418
			renderer.setClearColor("#121212"); //233143

			//Simple Resize Event Listener: https://sbcode.net/view_source/multiplecontrols.html
			window.addEventListener('resize', onWindowResize, false)
            function onWindowResize() {
                camera.aspect = window.innerWidth / window.innerHeight
                camera.updateProjectionMatrix()
                renderer.setSize(window.innerWidth, window.innerHeight)
            }

			//First central sphere
			const geometry = new THREE.SphereGeometry(0.5, 32, 16);
			const material = new THREE.MeshLambertMaterial( { color: 0xe01000 /*Orange*/ } );
			const sun = new THREE.Mesh( geometry, material );
			scene.add( sun );
			Ignite(3);

			stars();
		
			//Controls Object
			const mainGui = new GUI();
			mainGui.width = 400;
			var zoomGuiButton;
			var zoomGuiParams;

			//Camera Postioning vectors
			camera.position.z = 18;
			const HOME = new THREE.Vector3(camera.position.x, camera.position.y, camera.position.z);
			controls.update();

			//Rendering Variables
			var play = true;
			var NUMPLANETS = 8;
			var zoom = -2; //Start zoom index at -2 so camera is only reverted once if no zoom mode is selected
			var Scaling = {
				ScaleFactor: 10,
				OldScaleFactor: 10, //Used to down-scale and re-scale orbit tracing
				rootScale: false
			}

			//Math Constants
			const M = 1.989;
			const Me = 30;

			//Physcis Engines for each Planet
			var PlanetPhysics = [];
			PlanetPhysics[0] = new massiveBody("Mercury", 5.79, 10, 0, 0, 0, 0, 4.74, 4, M, Me);
			PlanetPhysics[1] = new massiveBody("Venus", 1.082, 11, 0, 0, 0, 0, 3.50, 4, M, Me);
			PlanetPhysics[2] = new massiveBody("Earth", 1.47095, 11, 0, 0, 0, 0, 3.0290, 4, M, Me);
			PlanetPhysics[3] = new massiveBody("Mars", 2.280, 11, 0, 0, 0, 0, 2.41, 4, M, Me);
			PlanetPhysics[4] = new massiveBody("Jupiter", 7.785, 11, 0, 0, 0, 0, 1.31, 4, M, Me);
			PlanetPhysics[5] = new massiveBody("Saturn", 1.4320, 12, 0, 0, 0, 0, 9.7, 3, M, Me);
			PlanetPhysics[6] = new massiveBody("Uranus", 2.8670, 12, 0, 0, 0, 0, 6.8, 3, M, Me);
			PlanetPhysics[7] = new massiveBody("Neptune", 4.5150, 12, 0, 0, 0, 0, 5.4, 3, M, Me);
			PlanetPhysics[8] = new massiveBody("Pluto", 5.9064, 12, 0, 0, 0, 0, 4.7, 3, M, Me);

			//Orbiting Body Geometry
			var Planets = [];
			var PlanetGeometry = new THREE.SphereGeometry(0.18, 32, 16);
			var PlanetMaterial = new THREE.MeshLambertMaterial( { color: 0x060404 /*Grey*/ } );
			for(var i = 0; i < NUMPLANETS; i++){
				Planets[i] = new THREE.Mesh(PlanetGeometry, PlanetMaterial);
			}
			for(var i = 0; i < NUMPLANETS; i++){
				scene.add( Planets[i] );
			}

			//Orbit Tracing 
			var skip = 0; //Number of points to skip in between trace points (saves on memory)
			const orbitTracePoints = [NUMPLANETS];
			for(let i = 0; i < NUMPLANETS; i++)
				orbitTracePoints[i] = new Array();
			var orbitLines = [];
			const pointsmaterial = new THREE.LineBasicMaterial( { color: 0x666666 /*White*/} );

			//Establish Gui Interface
			userControls();

			var count = 0;

			function animate() {
				count++;
				if(play && count >= 0){
					for(var i = 0; i < NUMPLANETS; i++){
						PlanetPhysics[i].calcParams();
						
						if(Scaling.rootScale){
							var r = Math.sqrt( (PlanetPhysics[i].XAdj**2 + PlanetPhysics[i].YAdj**2) );
							Planets[i].position.x = ((PlanetPhysics[i].XAdj/r)*Math.sqrt(r))*Scaling.ScaleFactor;
							Planets[i].position.y = ((PlanetPhysics[i].YAdj/r)*Math.sqrt(r))*Scaling.ScaleFactor;
						}
						else{
							Planets[i].position.x = PlanetPhysics[i].XAdj*Scaling.ScaleFactor;
							Planets[i].position.y = PlanetPhysics[i].YAdj*Scaling.ScaleFactor;
						}
					}

					skip++;
					if(skip > 2){
						for(let i = 0; i < NUMPLANETS; i++){
							scene.remove(orbitLines[i]);
							if(PlanetPhysics[i].TraceOrbit){
								if(orbitTracePoints[i].length > 1000)
									orbitTracePoints[i].shift();
								orbitTracePoints[i].push(new THREE.Vector3( Planets[i].position.x, Planets[i].position.y, Planets[i].position.z));
								const pointsgeometry = new THREE.BufferGeometry().setFromPoints( orbitTracePoints[i] );
								orbitLines[i] = new THREE.Line( pointsgeometry, pointsmaterial );

								scene.add( orbitLines[i] );
							}
						}
						skip = 0;
					}

					count = 0;
				}
				
				if(zoom > -1) //zoom index 0, 1, 2, etc... (focused on one of the planetary bodies)
					cameraZoom(zoom);
				else {
					if(zoom == -2){ //Only revert camera position once (otherwise drag mechanics don't work)
						camera.position.copy(HOME);
						zoom = -1;
					}
					controls.update(); //zoom index -1: continue to update drag controls (base level for zoom controls)
				}

				requestAnimationFrame( animate );
				renderer.render ( scene, camera );
			}

			animate();

			function Ignite(radius){
				const lights = [];
				for(i = 0; i <6; i++){
					lights[i] = new THREE.PointLight(0xCCFFFF, 8, 100);	
					
					if(i == 0){
						lights[i].position.set(radius, 0, 0);
						scene.add(lights[i]);
					}
					else if(i == 1){
						lights[i].position.set(-radius, 0, 0);
						scene.add(lights[i]);
					}
					else if(i == 2){
						lights[i].position.set(0, radius, 0);
						scene.add(lights[i]);
					}
					else if(i == 3){
						lights[i].position.set(0, -radius, 0);
						scene.add(lights[i]);
					}
					else if(i == 4){
						lights[i].position.set(0, 0, radius);
						scene.add(lights[i]);
					}
					else if(i == 5){
						lights[i].position.set(0, 0, -radius);
						scene.add(lights[i]);
					}
				}
			}

			function stars() {
				//Accidental Stars Function from THREE website:
				//https://threejs.org/docs/index.html?q=Geometry#api/en/materials/PointsMaterial

				const vertices = [];
				for ( let i = 0; i < 10000; i ++ ) {

					const x = THREE.MathUtils.randFloatSpread( 2000, 10000 );
					const y = THREE.MathUtils.randFloatSpread( 2000, 10000 );
					const z = THREE.MathUtils.randFloatSpread( 2000, 10000 );

					vertices.push( x, y, z );

				}
				const geometry = new THREE.BufferGeometry();
				geometry.setAttribute( 'position', new THREE.Float32BufferAttribute( vertices, 3 ) );
				const material = new THREE.PointsMaterial( { color: 0x888888 } );
				const points = new THREE.Points( geometry, material );
				scene.add( points );
			}

			function pauseplay(){
				if(play)
					play = false;
				else
					play = true;
			}

			function checkedOrbitTrace(n){
				if(!PlanetPhysics[n].TraceOrbit){
					delete orbitTracePoints[n];
					orbitTracePoints[n] = [];
				}
			}

			function userControls(){
				const newObject = mainGui.addFolder('New Planetary Body');
				//const currentObjects = mainGui.addFolder('Current Orbit Parameters');
				const zoomFolder = mainGui.addFolder('Zoom');
				const orbitTraceFolder = mainGui.addFolder('Orbit Tracing');
				const scaleFolder = mainGui.addFolder('Scaling');
				var current = [];
				for(var i = 0; i < NUMPLANETS; i++)
					current[i] = false;

				//New Planet parameters accessed by GUI
				const userParams = {
					name: "New Planet",
					x: 0,
					xe: 0,
					y: 0,
					ye: 0,
					vx: 0,
					vxe: 0,
					vy: 0,
					vye: 0,
					newPlanet: function(){
						Planets[NUMPLANETS] = new THREE.Mesh(PlanetGeometry, PlanetMaterial);

						console.log("X: " + this.x + "e" + this.xe + " Y: " + this.y + "e" + this.ye + " VX: " + this.vx + "e" + this.vxe + " VY: " + this.vy + "e" +this.vye);
						
						PlanetPhysics[NUMPLANETS] = new massiveBody(this.name, this.x, this.xe, this.y, this.ye, this.vx, this.vxe, this.vy, this.vye, M, Me);

						console.log("X: " +  PlanetPhysics[NUMPLANETS].X + " Xe: " + PlanetPhysics[NUMPLANETS].Xe + " Y: " + PlanetPhysics[NUMPLANETS].Y + " Ye: " + PlanetPhysics[NUMPLANETS].Ye + " VX: " + PlanetPhysics[NUMPLANETS].VX + " VXe: " + PlanetPhysics[NUMPLANETS].VXe + " " + " VY: " + PlanetPhysics[NUMPLANETS].VY + " VYe: " + PlanetPhysics[NUMPLANETS].VYe);

						//Update Zoom Controls
						var n = NUMPLANETS;
						zoomFolder.add( PlanetPhysics[NUMPLANETS], 'Zoom').name(PlanetPhysics[NUMPLANETS].Name).listen().onChange(function(){
							checkedZoom(n);
						})

						//Update Orbit Trace Controls
						orbitTraceFolder.add( PlanetPhysics[i], 'TraceOrbit').name(PlanetPhysics[i].Name).listen();
						orbitTracePoints[NUMPLANETS] = new Array();

						//Add new object to scene
						scene.add( Planets[NUMPLANETS] );

						this.x = this.xe = this.y = this.ye = this.vx = this.vxe = this.vy = this.vye = p.XAdj = p.YAdj =  0;
						NUMPLANETS++;
					},
					home: function(){
						for(let i = 0; i < NUMPLANETS; i++)
							PlanetPhysics[i].Zoom = false;
						zoom = -2;
					}
				};

				//Play/Pause Animation Function
				mainGui.add( {pauseplay}, 'pauseplay').name('\u23EF' + " Play/Pause");
				//Move camera back to home position
				mainGui.add( userParams, 'home').name('Revert Camera');
	
				var t = 'n';
				var p = new massiveBody(userParams.name, userParams.x, userParams.xe, userParams.y, userParams.ye, userParams.vx, userParams.vxe, userParams.vy, userParams.vye, M, Me);
				
				newObject.add(userParams, 'name').name('New Planet Name');

				newObject.add( userParams, 'x', -9, 9, 0.01).name('X Position (meters)').listen().onChange(function(){
					p.setX(userParams.x);
				});
				newObject.add( userParams, 'xe', 0, 15, 1).name('X Modifier (x10' + t.sup() + ')').listen().onChange(function(){
					p.setXe(userParams.xe);
				});
				var XConverted = newObject.add(p, 'XAdj').name('In Astronomical Units:').listen();
				XConverted.__precision = 6;
				XConverted.domElement.style.pointerEvents = "none";

				newObject.add( userParams, 'y', -9, 9, 0.01).name('Y Position (meters)').listen().onChange(function(){
					p.setY(userParams.y);
				});
				newObject.add( userParams, 'ye', 0, 15, 1).name('Y Modifier (x10' + t.sup() + ')').listen().onChange(function(){
					p.setYe(userParams.ye);
				});
				var YConverted = newObject.add(p, 'YAdj').name('In Astronomical Units:').listen();
				YConverted.__precision = 6;
				YConverted.domElement.style.pointerEvents = "none";

				newObject.add( userParams, 'vx', -9, 9, 0.01).name('Initial X Velocity (m/s)').listen().onChange(function(){
					p.setVX(userParams.vx);
				});
				newObject.add( userParams, 'vxe', 0, 15, 1).name('X Velocity Modifier (x10' + t.sup() + ')').listen().onChange(function(){
					p.setVXe(userParams.vxe);
				});
				var VXConverted = newObject.add(p, 'VXAdj').name('In Astronomical Units:').listen();
				VXConverted.__precision = 6;
				VXConverted.domElement.style.pointerEvents = "none";

				newObject.add( userParams, 'vy', -9, 9, 0.01).name('Initial Y Velocity (m/s)').listen().onChange(function(){
					p.setVY(userParams.vy);
				});
				newObject.add( userParams, 'vye', 0, 15, 1).name('Y Velocity Modifier (x10' + t.sup() + ')').listen().onChange(function(){
					p.setVYe(userParams.vye);
				});
				var VYConverted = newObject.add(p, 'VYAdj').name('In Astronomical Units:').listen();
				VYConverted.__precision = 6;
				VYConverted.domElement.style.pointerEvents = "none";

				//Pre-Calculated X and Y Velocity Read-Out:
				var CalculatedVX = newObject.add(p, 'userVXCalc').name('Pre-Calculated X Velocity:').listen();
				CalculatedVX.__precision = 2;
				CalculatedVX.domElement.style.pointerEvents = "none";

				var CalculatedVY = newObject.add(p, 'userVYCalc').name('Pre-Calculated Y Velocity:').listen();
				CalculatedVY.__precision = 2;
				CalculatedVY.domElement.style.pointerEvents = "none";

				newObject.add({empty}, 'empty').name('Use Pre-Calculated Velocites').onChange(function(){
					userParams.vx = p.VXCalc;
					userParams.vxe = p.VXeCalc;
					userParams.vy = p.VYCalc;
					userParams.vye = p.VYeCalc;
				});
				
				newObject.add( userParams, 'newPlanet').name("Create New Planetary Body");
				function log(n){
					return n
				};
				
				//Zoom Selection Controls
				for(let i = 0; i< NUMPLANETS; i++){
					zoomFolder.add( PlanetPhysics[i], 'Zoom').name(PlanetPhysics[i].Name).listen().onChange(function(){
						checkedZoom(i);
					})
				};

				//Orbit-Trace Selection Controls
				for(let i = 0; i< NUMPLANETS; i++){
					orbitTraceFolder.add( PlanetPhysics[i], 'TraceOrbit').name(PlanetPhysics[i].Name).listen().onChange(function(){
						checkedOrbitTrace(i);
					})
				};

				scaleFolder.add(Scaling, 'ScaleFactor', 1, 20, 1).name('Scale Factor:').onChange(function(){
					for(let i = 0; i < NUMPLANETS; i++){
						scene.remove(orbitLines[i]);
						if(PlanetPhysics[i].TraceOrbit){
							for(let j = 0; j < orbitTracePoints[i].length; j++){
								orbitTracePoints[i][j] = orbitTracePoints[i][j].multiplyScalar(1/Scaling.OldScaleFactor);
								orbitTracePoints[i][j] = orbitTracePoints[i][j].multiplyScalar(Scaling.ScaleFactor);
							}
							const pointsgeometry = new THREE.BufferGeometry().setFromPoints( orbitTracePoints[i] );
							orbitLines[i] = new THREE.Line( pointsgeometry, pointsmaterial );
						}
					}
					Scaling.OldScaleFactor = Scaling.ScaleFactor;
				});
				scaleFolder.add(Scaling, 'rootScale').name('Root Scale Factor').onChange(function(){
					for(let i = 0; i < NUMPLANETS; i++){
						delete orbitTracePoints[i];
						orbitTracePoints[i] = [];
						scene.remove(orbitLines[i]);
						// if(PlanetPhysics[i].TraceOrbit){
						// 	for(let j = 0; j < orbitTracePoints[i].length; j++){
						// 		orbitTracePoints[i][j].setX(Math.sign(orbitTracePoints[i][j].getComponent(0))*Math.sqrt(Math.abs(orbitTracePoints[i][j].getComponent(0))));
						// 		orbitTracePoints[i][j].setY(Math.sign(orbitTracePoints[i][j].getComponent(1))*Math.sqrt(Math.abs(orbitTracePoints[i][j].getComponent(1))));
						// 		orbitTracePoints[i][j].setZ(Math.sign(orbitTracePoints[i][j].getComponent(2))*Math.sqrt(Math.abs(orbitTracePoints[i][j].getComponent(2))));
						// 	}
						// 	const pointsgeometry = new THREE.BufferGeometry().setFromPoints( orbitTracePoints[i] );
						// 	orbitLines[i] = new THREE.Line( pointsgeometry, pointsmaterial );
						// }
					}
				});
			}

			function checkedZoom(p){
				//Uncheck rest of non-selected buttons
				for(let i = 0; i < NUMPLANETS; i++){
					if(i != p)
						PlanetPhysics[i].Zoom = false;
				}
				//Check for new checked button
				for(let i = 0; i < NUMPLANETS; i++){
					if(PlanetPhysics[i].Zoom == true){
						//Hide main view gui
						mainGui.hide();
						//Add new button scheme for zoomed plane
						zoomGuiButton = new GUI();
						zoomGuiParams = new GUI();
						// zoomGuiParams.domElement.addEventListener("click", function(){
						// 	if(play)
						// 		play = false;
						// });
						zoomGuiParams.hide();
						zoomGuiButton.add({editPlanetOrbit}, 'editPlanetOrbit').name('Edit Planet Orbit');
						zoomGuiButton.add({editPlanetOrbitPausePlay}, 'editPlanetOrbitPausePlay').name('Back');
						zoom = p;
						break;
					}
					else //No new checked button
						zoom = -2;
				}
			};

			//Temporary Position/Velocity Paramters, saved when user enters zoom mode and attempts to edit current orbit paramters
			var tempX, tempXe, tempY, tempYe, tempVX, tempVXe, tempVY, tempVYe;

			function editPlanetOrbit(){
				zoomGuiButton.hide();
				zoomGuiParams.show();

				//play = false;

				tempX = PlanetPhysics[zoom].X;
				tempXe = PlanetPhysics[zoom].Xe;
				tempY = PlanetPhysics[zoom].Y;
				tempYe = PlanetPhysics[zoom].Ye;
				tempVX = PlanetPhysics[zoom].VX;
				tempVXe = PlanetPhysics[zoom].VXe;
				tempVY = PlanetPhysics[zoom].VY;
				tempVYe = PlanetPhysics[zoom].VYe;

				var t = 'n';
				zoomGuiParams.add( PlanetPhysics[zoom], 'X', -9, 9, 0.01).name('X Position (meters)').listen();
				zoomGuiParams.add( PlanetPhysics[zoom], 'Xe', 0, 15, 1).name('X Modifier (x10' + t.sup() + ')').listen();
				zoomGuiParams.add( PlanetPhysics[zoom], 'Y', -9, 9, 0.01).name('Y Position (meters)').listen();
				zoomGuiParams.add( PlanetPhysics[zoom], 'Ye', 0, 15, 1).name('Y Modifier (x10' + t.sup() + ')').listen();

				zoomGuiParams.add( PlanetPhysics[zoom], 'VX', -9, 9, 0.01).name('X Velocity (m/s)').listen();
				zoomGuiParams.add( PlanetPhysics[zoom], 'VXe', 0, 15, 1).name('X Velocity Modifier (x10' + t.sup() + ')').listen();
				zoomGuiParams.add( PlanetPhysics[zoom], 'VY', -9, 9, 0.01).name('Y Velocity (m/s)').listen();
				zoomGuiParams.add( PlanetPhysics[zoom], 'VYe', 0, 15, 1).name('Y Velocity Modifier (x10' + t.sup() + ')').listen();

				zoomGuiParams.add( {pauseplay}, 'pauseplay').name('\u23EF' + " Play/Pause");
				zoomGuiParams.add( {editPlanetOrbitPausePlay}, 'editPlanetOrbitPausePlay').name("Back");
				zoomGuiParams.add( {zoomCancel}, 'zoomCancel').name("Cancel");
			}

			function editPlanetOrbitPausePlay(){
				zoomGuiButton.hide();
				zoomGuiParams.hide();
				mainGui.show();
				zoom = -2;
				play = true;
				for(let i = 0; i < NUMPLANETS; i++)
					PlanetPhysics[i].Zoom = false;
			}

			function zoomCancel(){
				PlanetPhysics[zoom].X = tempX;
				PlanetPhysics[zoom].Xe = tempXe;
				PlanetPhysics[zoom].Y = tempY;
				PlanetPhysics[zoom].Ye = tempYe;
				PlanetPhysics[zoom].VX = tempVX;
				PlanetPhysics[zoom].VXe = tempVXe;
				PlanetPhysics[zoom].VY = tempVY;
				PlanetPhysics[zoom].VYe = tempVYe;

				zoomGuiButton.hide();
				zoomGuiParams.hide();
				mainGui.show();
				zoom = -2;
				play = true;
				for(let i = 0; i < NUMPLANETS; i++)
					PlanetPhysics[i].Zoom = false;
			}

			function cameraZoom(n){
				var v = new THREE.Vector3();
				v.x += Planets[n].position.x;
				v.y += Planets[n].position.y;
				v.z += Planets[n].position.z;
				camera.lookAt(v);

				camera.position.x = Planets[n].position.x;
				camera.position.y = Planets[n].position.y;
				camera.position.z = 1;
			}

			function empty(){}
		</script>
	</body>
	
</html>