<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Universe Modeler - Jadon Koegel (V.1)</title>
		<style>
			body { margin: 0; }
		</style>

		<!-- Virtual Method of using JS Files from: https://stackoverflow.com/questions/46349370/javascript-file-not-found-using-relative-path-during-flask-render-template -->
		<!-- here:-->
		<script src="{{ url_for('static', filename='js/massiveBody.js')}}"></script>
		<script src="{{ url_for('static', filename='js/three.js')}}"></script>
		<script src="{{ url_for('static', filename='js/OrbitControls,js')}}"></script>

		<!-- Import map code to allow for import of OrbitControls -->
		<!-- https://stackoverflow.com/questions/65697410/not-using-node-js-uncaught-typeerror-failed-to-resolve-module-specifier-thre -->
		<script type="importmap">
			{
				"imports": {
					"three": "https://unpkg.com/three@0.138.0/build/three.module.js",
					"OrbitControls": "https://unpkg.com/three@0.138.0/examples/jsm/controls/OrbitControls.js",
					"dat": "https://unpkg.com/dat.gui@0.7.7/build/dat.gui.module.js",
					"CSS2DRenderer": "https://unpkg.com/three@0.138.0/examples/jsm/renderers/CSS2DRenderer.js"
				}
			}
		</script>
	</head>
	<body>
		<!-- Direct Inclusiuon of Javascript Libraries for Local Hosting Testing  -->
		<script src="/static/js/massiveBody.js" type="module"></script>
		<!-- <script src="/static/js/three.js"></script> -->
		<!-- <script src="/static/js/OrbitControls.js"></script> -->
	
		<!-- Main Program Script Starts Here: -->
		<script type="module">
			import * as THREE from 'three';
			import {OrbitControls} from 'OrbitControls';
			import {massiveBody} from '/static/js/massiveBody.js';
			import {GUI} from 'dat';
			import {CSS2DRenderer, CSS2DObject} from 'CSS2DRenderer';
			//import * as THREE from '/node_modules/three/build/three.module.js';

			const scene = new THREE.Scene();
			const camera = new THREE.PerspectiveCamera( 75 /*(Field of View in deg.)*/, window.innerWidth / window.innerHeight /*Just keep these settings don't want image to look squished)*/, 0.1 /*(Near clipping distance)*/, 1000/*(Far clipping distance)*/ );
			
			const renderer = new THREE.WebGLRenderer();
			renderer.setSize( window.innerWidth, window.innerHeight );
			document.body.appendChild( renderer.domElement );

			const controls = new OrbitControls( camera, renderer.domElement );

			//https://medium.com/nerd-for-tech/getting-started-with-your-first-three-js-project-part-two-the-build-3fd9a2f21418
			renderer.setClearColor("#121212"); //233143

			//Label Renderer for Planet Floating Statistics
			const labelRenderer = new CSS2DRenderer();
			labelRenderer.setSize(window.innerWidth, window.innerHeight);
			labelRenderer.domElement.style.position = "absolute";
			labelRenderer.domElement.style.top = "0px";
			document.body.appendChild(labelRenderer.domElement);
			labelRenderer.domElement.style.pointerEvents = 'none'

			//First central sphere
			const geometry = new THREE.SphereGeometry(0.5, 32, 16);
			const material = new THREE.MeshLambertMaterial( { color: 0xe01000 /*Orange*/ } );
			const sun = new THREE.Mesh( geometry, material );
			scene.add( sun );
			Ignite(3);

			stars();

			camera.position.z = 18;
			controls.update();

			//Rendering Variables
			var play = true;
			var NUMPLANETS = 4;
			var renderSpeed = 1
			var count = 1;
			const ScaleFactor = 10;

			//Planet Labels
			var PlanetDivs = [];
			var PlanetLabels = [];

			//Math Constants
			const M = 1.989;
			const Me = 30;

			//Physcis Engines for each Planet
			var PlanetPhyscis = [];
			PlanetPhyscis[0] = new massiveBody("Mercury", 5.79, 10, 0, 0, 0, 0, 4.74, 4, M, Me);
			PlanetPhyscis[1] = new massiveBody("Venus", 1.082, 11, 0, 0, 0, 0, 3.50, 4, M, Me);
			PlanetPhyscis[2] = new massiveBody("Earth", 1.47095, 11, 0, 0, 0, 0, 3.0290, 4, M, Me);
			PlanetPhyscis[3] = new massiveBody("Mars", 2.280, 11, 0, 0, 0, 0, 2.41, 4, M, Me);
			// PlanetPhyscis[4] = new massiveBody("Mercury", 7.785, 11, 0, 0, 0, 0, 1.31, 4, M, Me);
			// PlanetPhyscis[5] = new massiveBody("Mercury", 1.4320, 12, 0, 0, 0, 0, 9.7, 3, M, Me);
			// PlanetPhyscis[6] = new massiveBody("Mercury", 2.8670, 12, 0, 0, 0, 0, 6.8, 3, M, Me);
			// PlanetPhyscis[7] = new massiveBody("Mercury", 4.5150, 12, 0, 0, 0, 0, 5.4, 3, M, Me);
			// PlanetPhyscis[8] = new massiveBody("Mercury", 5.9064, 12, 0, 0, 0, 0, 4.7, 3, M, Me);

			//Orbiting Body Geometry
			var Planets = [];
			var PlanetGeometry = new THREE.SphereGeometry(0.15, 32, 16);
			var PlanetMaterial = new THREE.MeshLambertMaterial( { color: 0x060404 /*Grey*/ } );
			for(var i = 0; i < NUMPLANETS; i++){
				Planets[i] = new THREE.Mesh(PlanetGeometry, PlanetMaterial);
			}
			for(var i = 0; i < NUMPLANETS; i++){
				scene.add( Planets[i] );
			}

			loadPlanetLabels();

			userControls();

			function animate() {
	
				if(play){
					count++;
					if(count > renderSpeed){
						for(var i = 0; i < NUMPLANETS; i++){
							PlanetPhyscis[i].calcParams();
							Planets[i].position.x = PlanetPhyscis[i].XAdj*ScaleFactor;
							Planets[i].position.y = PlanetPhyscis[i].YAdj*ScaleFactor;
						}

						count = 0;
					}
				}		

				sun.rotation.y -= 0.05;

				updatePlanetLabels();

				controls.update();
				requestAnimationFrame( animate );
				renderer.render ( scene, camera );
				labelRenderer.render(scene, camera);
			}

			animate();

			function Ignite(radius){
				const lights = [];
				for(i = 0; i <6; i++){
					lights[i] = new THREE.PointLight(0xCCFFFF, 8, 100);	
					
					if(i == 0){
						lights[i].position.set(radius, 0, 0);
						scene.add(lights[i]);
					}
					else if(i == 1){
						lights[i].position.set(-radius, 0, 0);
						scene.add(lights[i]);
					}
					else if(i == 2){
						lights[i].position.set(0, radius, 0);
						scene.add(lights[i]);
					}
					else if(i == 3){
						lights[i].position.set(0, -radius, 0);
						scene.add(lights[i]);
					}
					else if(i == 4){
						lights[i].position.set(0, 0, radius);
						scene.add(lights[i]);
					}
					else if(i == 5){
						lights[i].position.set(0, 0, -radius);
						scene.add(lights[i]);
					}
				}
			}

			function stars() {
				//Accidental Stars Function from THREE website:
				//https://threejs.org/docs/index.html?q=Geometry#api/en/materials/PointsMaterial

				const vertices = [];
				for ( let i = 0; i < 10000; i ++ ) {

					const x = THREE.MathUtils.randFloatSpread( 2000, 10000 );
					const y = THREE.MathUtils.randFloatSpread( 2000, 10000 );
					const z = THREE.MathUtils.randFloatSpread( 2000, 10000 );

					vertices.push( x, y, z );

				}
				const geometry = new THREE.BufferGeometry();
				geometry.setAttribute( 'position', new THREE.Float32BufferAttribute( vertices, 3 ) );
				const material = new THREE.PointsMaterial( { color: 0x888888 } );
				const points = new THREE.Points( geometry, material );
				scene.add( points );
			}

			function userControls(){
				const gui = new GUI()
				const newObject = gui.addFolder('New Planetary Body');
				const currentObjects = gui.addFolder('Show Current Planet Parameters');
				var current = [];
				for(var i = 0; i < NUMPLANETS; i++)
					current[i] = false;

				const userParams = {
					play: true,
					name: "New Planet",
					x: 0,
					xe: 0,
					y: 0,
					ye: 0,
					vx: 0,
					vxe: 0,
					vy: 0,
					vye: 0,
					newPlanet: function(){
						Planets[NUMPLANETS] = new THREE.Mesh(PlanetGeometry, PlanetMaterial);
						scene.add( Planets[NUMPLANETS] );
						PlanetPhyscis[NUMPLANETS] = new massiveBody(this.name, this.x, this.xe, this.y, this.ye, this.vx, this.vxe, this.vy, this.vye, M, Me);
						currentObjects.add(PlanetPhyscis[NUMPLANETS], 'clicked').name(PlanetPhyscis[NUMPLANETS].Name).onChange(function(){
							updatePlanetLabels();
						});
						NUMPLANETS++;
						console.log("X: " + this.x + "e" + this.xe + " Y: " + this.y + "e" + this.ye + " VX: " + this.vx + "e" + this.vxe + " VY: " + this.vy + "e" +this.vye);
						loadPlanetLabels();
					}
				};

				gui.add( userParams, 'play').name('Animate').onChange(function(){
					if(play)
						play = false;
					else
						play = true;
				});
				var t = 'n';
				newObject.add(userParams, 'name').name('New Planet Name');
				newObject.add( userParams, 'x', 1, 9, 0.01).name('X Position (meters)');
				newObject.add( userParams, 'xe', 0, 15, 1).name('X Modifier (x10' + t.sup() + ')');
				newObject.add( userParams, 'y', 1, 9, 0.01).name('Y Position (meters)');
				newObject.add( userParams, 'ye', 0, 15, 1).name('Y Modifier (x10' + t.sup() + ')');
				newObject.add( userParams, 'vx', 1, 9, 0.01).name('Initial X Velocity (m/s)');
				newObject.add( userParams, 'vxe', 0, 15, 1).name('X Velocity Modifier (x10' + t.sup() + ')');
				newObject.add( userParams, 'vy', 1, 9, 0.01).name('Initial Y Velocity (m/s)');
				newObject.add( userParams, 'vye', 0, 15, 1).name('Y Velocity Modifier (x10' + t.sup() + ')');
				newObject.add( userParams, 'newPlanet').name("Create New Planetary Body");
				function log(n){
					return n
				}

				for(let i = 0; i < NUMPLANETS; i++){
					currentObjects.add(PlanetPhyscis[i], 'clicked').name(PlanetPhyscis[i].Name).onChange(function(){
						updatePlanetLabels();
					})
				}
			}

			function loadPlanetLabels(){
				const sunDiv = document.createElement("div");
				sunDiv.className = "label";
				sunDiv.textContent = "Sun";
				sunDiv.style.color = "#FFFFFF";
				sunDiv.style.backgroundColor = '#303030';
				//sunDiv.style.visibility = "hidden";
				//sunDiv.style.visibility = "visible";

				const sunLabel = new CSS2DObject(sunDiv);
				sunLabel.position.set(0, 1.5, 0);
				sun.add(sunLabel);

				for(let i = 0; i < NUMPLANETS; i++){
					var newPlanetDiv = document.createElement("div");
					newPlanetDiv.className = "label";
					newPlanetDiv.textContent = (PlanetPhyscis[i].Name + ": " + '\r\n' + "X Position: " + PlanetPhyscis[i].X.toPrecision(3) + "e" + PlanetPhyscis[i].Xe + " m" + '\r\n' + "Y Position: " + PlanetPhyscis[i].Y.toPrecision(3) + "e" +PlanetPhyscis[i].Ye + " m");
					newPlanetDiv.style.color = "#FFFFFF";
					newPlanetDiv.style.backgroundColor = '#303030';
					PlanetDivs[i] = newPlanetDiv;

					const newPlanetLabel = new CSS2DObject(PlanetDivs[i]);
					newPlanetLabel.position.set(PlanetPhyscis[i].XAdj*ScaleFactor, PlanetPhyscis[i].YAdj*ScaleFactor, 0);
					PlanetLabels[i] = newPlanetLabel;
					Planets[i].add(PlanetLabels[i]);
				}
			}

			function updatePlanetLabels(){
				for(let i = 0; i < NUMPLANETS; i++){
					if(PlanetPhyscis[i].clicked)
						PlanetDivs[i].style.visibility = "visible";
					else
						PlanetDivs[i].style.visibility = "hidden";
					PlanetDivs[i].textContent = (PlanetPhyscis[i].Name + ": " + '\r\n' + "X Position: " + PlanetPhyscis[i].X.toPrecision(3) + "e" + PlanetPhyscis[i].Xe + " m" + '\r\n' + "Y Position: " + PlanetPhyscis[i].Y.toPrecision(3) + "e" +PlanetPhyscis[i].Ye + " m");
				}
			}
		</script>
	</body>
	
</html>